<div class="row">
	<div class="large-12 columns">
		<b><%= jean.garment.brand %></b>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.garment.model %> (true waist <%= jean.waist %>)
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		$<%= jean.garment.price %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.garment.fit %>	
	</div>
</div>