<div id="my_<%= jean.id %>" class="reveal-modal">
	<%= render "jean_modal", jean: jean %>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= link_to image_tag(jean.garment.photo_url), '#', "data-reveal-id" => "my_#{jean.id}"  %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<b><%= link_to jean.garment.brand, '#', "data-reveal-id" => "my_#{jean.id}"  %></b>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.garment.model %> (true waist <%= jean.waist %>)
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		$<%= jean.garment.price %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.garment.fit %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		front_rise <%= jean.front_rise %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		thigh <%= jean.thigh %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		knee <%= jean.knee %>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		leg_opening <%= jean.leg_opening %>	
	</div>
</div>