<%= form_tag root_path, :method => 'get', :id => "test", class: "custom" do %>
	<div class="row">
		<div class="large-12 columns">
			<label for="amount-waist">Waist Size:</label>
			<input type="text" id="amount-waist" style="border: 0; color: #f6931f; font-weight: bold;" />
            <div class="slider-single">
                <div id="slider-waist"></div>
            </div><br>
            <%= hidden_field_tag :waist, params[:waist], value: params[:waist] || 32 %>	
		</div>
	</div>

	<br>

	<div class="row">
		<div class="large-12 columns">
			<label for="amount-price">Price range:</label>
			<input type="text" id="amount-price" style="border: 0; color: #f6931f; font-weight: bold;" />
			<div id="slider-price" style="width:90%;"></div>
			<%= hidden_field_tag :min_price, params[:min_price], value: params[:min_price] || 0 %>
			<%= hidden_field_tag :max_price, params[:max_price], value: params[:max_price] || 500 %>
		</div>
	</div>

	<br>

	<% if params[:front_rise] %>
		<%= render "measurements" %>
	<% else %>
		<div class="fit_container">
			<div class="row">
				<div class="large-12 columns">
					<h6>Fit:</h6>
					<%# for i in Garment.select(:fit).uniq.map(&:fit).sort_by{|e| e} %>
					<% for i in @jeans.map{|i| i.garment.fit}.uniq.sort_by{|e| e} %>
						<label for="checkbox_<%= i.gsub(' ', '_') %>">
							<%= check_box_tag 'fit[]', i, 
									params[:fit] ? params[:fit].include?(i) : false, 
									id: "checkbox_#{i.gsub(' ', '_')}",
									style: "display: none;" %>
							<%= i.capitalize %>
						</label>
					<% end %>
				
					<%= link_to "Advanced Measurements", root_path, class: "advanced_link", remote: true %>
				</div>
			</div>
		</div>

		<span class="measurements_container"></span>
	<% end %>

	<br>

	<div class="row">
		<div class="large-12 columns">
			<h6>Made in:</h6>
			<%# for i in Garment.select(:made_in).uniq.map(&:made_in).sort_by{|e| e} %>
			<% for i in @jeans.map{|i| i.garment.made_in}.uniq.sort_by{|e| e} %>
				<label for="checkbox_<%= i.gsub(' ', '_') %>">
					<%= check_box_tag 'made_in[]', i, 
							params[:made_in] ? params[:made_in].include?(i) : false, 
							id: "checkbox_#{i.gsub(' ', '_')}",
							style: "display: none;" %>
					<%= i %>
				</label>
			<% end %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="large-12 columns">
			<h6>Fabric Origin:</h6>
			<%# for i in Garment.select(:fabric_origin).uniq.map(&:fabric_origin).sort_by{|e| e} %>
			<% for i in @jeans.map{|i| i.garment.fabric_origin}.uniq.sort_by{|e| e} %>
				<label for="checkbox_<%= i.gsub(' ', '_') %>">
					<%= check_box_tag 'fabric_origin[]', i, 
							params[:fabric_origin] ? params[:fabric_origin].include?(i) : false, 
							id: "checkbox_#{i.gsub(' ', '_')}",
							style: "display: none;" %>
					<%= i %>
				</label>
			<% end %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="large-12 columns">
			<h6>Color:</h6>
			<%# for i in Garment.select(:color).uniq.map(&:color).sort_by{|e| e} %>
			<% for i in @jeans.map{|i| i.garment.color}.uniq.sort_by{|e| e} %>
				<label for="checkbox_<%= i.gsub(' ', '_') %>">
					<%= check_box_tag 'color[]', i, 
							params[:color] ? params[:color].include?(i) : false, 
							id: "checkbox_#{i.gsub(' ', '_')}",
							style: "display: none;" %>
					<%= i %>
				</label>
			<% end %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="large-12 columns">
			<h6>Brand:</h6>
			<%# for i in Garment.select(:brand).uniq.map(&:brand).sort_by{|e| e} %>
			<% for i in @jeans.map{|i| i.garment.brand}.uniq.sort_by{|e| e} %>
				<label for="checkbox_<%= i.gsub(' ', '_') %>">
					<%= check_box_tag 'brand[]', i, 
							params[:brand] ? params[:brand].include?(i) : false, 
							id: "checkbox_#{i.gsub(' ', '_')}",
							style: "display: none;" %>
					<%= i %>
				</label>
			<% end %>
		</div>
	</div>

	<br>

	<%= submit_tag "Search", :name => nil, class: "button small radius" %>
	<br>
	<%= link_to "Clear Search", root_path, class: "button small radius alert" %>
<% end %>